go 1.24.1

use (
	./services
	./services/stream-service
	./services/calc-service
	./services/services
	./services/api-gateway
	./services/notify-service
	./services/auth-service
	./services/news-service
	./services/trade-service
// ./services/stream-service/pkg/kafka
)
